@import "tailwindcss";

@layer utilities {
  .font-headline {
    font-family: 'Outfit', sans-serif;
  }
  .font-body {
    font-family: 'DM Sans', sans-serif;
  }
  .font-accent {
    font-family: 'Fira Code', monospace;
  }
}

/* Sembunyikan scrollbar untuk carousel drag */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}